.hero {
  margin: 0px 120px;
  margin-top: 270px;
}

.hero-text {
  color: #fff;
  font-size: 110px;
  font-weight: 500;
  line-height: 130px;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px 8px;
  border-radius: 60px;
  background-color: #fff;
  cursor: pointer;
  width: fit-content;
  padding-left: 30px;
}

.hero-explore p {
  color: orangered;
  font-size: 20px;
  font-weight: 500;
}

.hero-play {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  align-items: center;
}

.hero-li {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-li li {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
}

.hero .orange {
  background: orange;
}

.heroplay {
  display: flex;
  align-items: center;
  gap: 30px;
}

.heroplay p {
  color: #fff;
  font-size: 19px;
}
